@import url("global.css");
@import url("rodape.css");
@import url(navegação.css);
@import url(inicio.css);
@import url(contato.css);
@import url(objetivos.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Arial', sans-serif;
}
