.tituloform{
    color: #355756;
    font-size: 38px;
    text-align: center;
}

section.formulario{
    padding: 80px 4%;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input, form textarea{
    width: 100%;
    background-color: #355756;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 16px;
    color: #fff;
    font-size: 18px;

}

form textarea::placeholder{
    color: #ffffff4b;
}

form textarea{
    resize: none;
    max-height: 400px;
    height: 220px;
}


form input::placeholder{
    color: #ffffff4b;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input{
     width: 120px;
     background-color: #355756;
     color: #fff;
     cursor: pointer;
}

form .btn-enviar{
    transform: scale(1.05);
}


