.tituloform{
    color: #355756;
    font-size: 38px;
    text-align: center;
}

section.formulario{
    padding: 80px 4%;
}

form{
    color: #fff;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

form input{
    width: 100%;
    background-color: #355756;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 16px;
    color: #fff;
    font-size: 18px;

}

form input::placeholder{
    
}



