.inicio {
    align-items:  center;
    justify-content: center;
    margin-top: 100px;
    padding-top: 80px;
}

section.inicio{
    padding: 80px 4%;
}

.flex{
    display: flex;
}

section.inicio.flex{
    align-items: center;
    justify-content: center;
}

.inicio h1{
    color: rgb(53, 87, 86);
    font-size: 42px;
    line-height: 40px;
}

.inicio .txt-topo-site p{
    color: rgb(0, 0, 0);
    margin: 40px 0;
    font-size: 40px;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

.inicio .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}