#navegacao {
    width: 100%;
    height: 100px;
    background-color: #659287;
    color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0; /* Fixar na parte superior */
    z-index: 1000; /* Garantir que fique acima de outros elementos */
}

#navegacao img {
    height: 90px;
    width: 90px;
}

#navegacao ul {
    display: flex;
    flex-direction: row;
    list-style-type: none; /* Remover estilo de lista */
    padding: 0;
    margin: 0;
}

#navegacao li {
    height: 40px; /* Definir uma altura fixa */
    line-height: 40px; /* Centraliza verticalmente o texto */
}

#navegacao a {
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin-right: 40px;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease; /* Usamos scale() para ampliar o texto sem afetar o layout */
}

#navegacao a:hover {
    transform: scale(1.5); /* Amplia o texto visualmente sem mudar o layout */
}

#navegacao input.botaoLogin {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: #112d32;
    border: none;
    border-radius: 5px;
    transition: background-color 0.5s ease;
}

#navegacao input.botaoLogin:hover {
    background-color: #21373c;
    color: #f5f5f5;
}

#navegacao ul li a:hover {
    color: #88bdbc;
    border-radius: 5px;
}

.botaoLogin {
    background-color: #f6a874;
    border: none;
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 260px; /* Posiciona o botão à direita */
    top: 50%; /* Centraliza verticalmente em relação ao nav */
    transform: translateY(-50%);
}

#navegacao input.botaoLogin:hover {
    background-color: #254e58;
    color: #f5f5f5;
}