section.objetivos{
    padding: 40px 4%;
    display: flexbox;
    box-sizing: border-box;

}

section.objetivos .flexbox{
    gap: 60px;
}

h2.tituloobj{
    color: #355756;
    font-size: 38px;
    text-align: center;
}

.objetivos .especialidades-box{
    color: #fff;
    padding: 40px;
    border: 2px solid #DEAA79;
    margin-top: 45px;
    border-radius: 22px;
    background-color: #355756;
    transition: 1.2s;
    
}

.objetivos .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px #ffffff42;
}

.objetivos .especialidades-box i{
    font-size: 70px;
    color: #000;
}

.objetivos .especialidades-box h3{
    font-size:30px;
    margin: 15px 0;
}





